<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"
        integrity="sha512-1qSuCpdoteBVxXOewHUBoVw+cvT1/kr+RuFK0HQsZFe6h7SEpm5VzXR1bBptPLyvQpxoaP/or5NUVRS4WwWgWA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>example controller 3</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">

    <input type="text" ng-model="name" placeholder="enter your name" name="" id="name">
    <p>Hello {{name | uppercase}}</p>
    <button ng-click="click()">Click me</button>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', ['$scope', function ($scope) {
            $scope.click = function () {
                console.log(document.getElementById("name").value);
                $scope.name = document.getElementById("name").value;
            }

        }]);
    </script>

</body>

</html>